<!-- components/menu.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">$ADRIAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Index</a></li>
        <li class="nav-item"><a class="nav-link" href="auction.html">Adrian Auction</a></li>
        <li class="nav-item"><a class="nav-link" href="pumpit.html">Pump your ADRIANS</a></li>
        <li class="nav-item"><a class="nav-link" href="filthyrich.html">Filthy Rich</a></li>
        <li class="nav-item"><a class="nav-link" href="taxreaper.html">The TAX reaper</a></li>
        <li class="nav-item"><a class="nav-link" href="holdings.html">Your holdings</a></li>
        <li class="nav-item"><a class="nav-link" href="burnstats.html">Burn Stats</a></li>
        <li class="nav-item"><a class="nav-link" href="metamorph.html.html">METAMORPH</a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/adriancerda" target="_blank">Twitter</a></li>
        <li class="nav-item"><a class="nav-link" href="https://discord.gg/YHc5Sh65Hm" target="_blank">Discord</a></li>
        <li class="nav-item"><a class="nav-link" href="https://opensea.io/collection/adriangallery" target="_blank">OpenSea</a></li>
        <li class="nav-item"><a class="nav-link" href="https://dexscreener.com/base/0xa51d80c15b0b67b9f32865d3351977a7006c462f" target="_blank">Chart</a></li>
      </ul>
    </div>
  </div>
</nav>
