<!-- components/menu3.html -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="https://files.catbox.moe/ffvdjy.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      $ADRIAN
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="theofferingseats2.html">THE OFFERING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="burnstats2.html">BURNSTATS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/adriangallery" target="_blank">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/adriangallery" target="_blank">Telegram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://opensea.io/collection/the-offering-by-adrian-gallery" target="_blank">OpenSea</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 